*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 12px;
}
.box{
    box-sizing: border-box;
    border: 2px solid black;
    /* width: 233px; */
    width: 80vw;
    margin: auto;
    background-color: aquamarine;
}
.container{
    box-sizing: border-box;
    border: 2px solid black;
    /* width: 233px; */
    width: 80vw;
    /* height: 80vh; */
    min-height: 80vh;
    margin: 23px auto;
    font-size: 19px;
    background-color: aquamarine
}
.container p{
    font-size: 2rem;
}