*{
    margin: 0;
    padding: 0;
}

.box2{
    color: white;
    background-color: blue;
    padding: 10px;
    margin: 25px;
    border: 2px solid black;
    height: 200px;
    box-sizing: border-box;
}

.box1{
    color: yellow;
    background-color: blue;
    padding: 10px;
    margin: 25px;
    border: 2px solid black;
    height: 200px;
    box-sizing: border-box;
}